@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

/* :root {
    --dark-color: black;
    --med-color: grey;
    --light-color: white;
    --universal-padding: 10px;
 } */

* {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    border: 1px solid black;
}

/* 
body {
    margin: 0;
}

.hero {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: var(--universal-padding);
}

.header-preview {
    text-align: end;
}

main {
    display: inline-flex;
    width: 100%;
}

nav {
    line-height: 30px;
    width: 200px;
    height: 200vh;
    padding: var(--universal-padding);
    background-color: var(--med-color);
}

.left-col {
    width: 65%;
    padding: var(--universal-padding);
}

.movie-img {
    width: 150px;
    height: 200px;
}

.right-col {
    width: 25%;
    padding: var(--universal-padding);
}

#movies {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-card {
    margin: 5px;
    padding: 5px;
    width: 200px;
    height: 300px;
    border: 1px solid black;
} */


/*! bulma.io v0.9.4 | MIT License | github.com/jgthms/bulma */
/* Bulma Utilities */